footer {
    margin-top: 10vmax;
    padding: 2vmax;
    background-color: rgb(34,33,33);
    color: white;
    display: flex;
    align-items: center;
}

.leftFooter {
    width: 20%;
    display: flex;

    flex-direction: column;
    align-items: center;
}

.leftFooter > h4 {
    font-family: "Roboto";
    font-size: 1vmax;
}

.leftFooter > p {
    text-align: center;
    font-size: 1.2vmax;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.leftFooter > img {
    width: 10vmax;
    margin: 1vmax;
    cursor: pointer;
}

